/* info */

.box-info__horario {
    max-width: 90%;
    background-color: #F43127;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
}

.horario__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(29, 6, 5, 0.2);
    transform: scale(0.8);
    margin: 5px;
}

.horario__containerhorario {
    border-left: 1px solid rgba(29, 6, 5, 0.4);
    padding: 4px 14px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.horario__containerhorario span {
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 16px;
    width: 95%;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.containerhorario_title {
    font-family: var(--font2);
    color: var(--color2);
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
}

.containerhorario__text {
    margin: 4px 0px 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;

}


/* Cardapio */
.cardapio {
    display: flex;
    flex-direction: column;
}

.cardapio__cardapio-box1 {
    background: url(../img/medio/bg1cardapio.png) center center no-repeat;
    background-size: cover;
    width: 100%;    
    height: 260px;
    padding: 25px 30px;
}

.cardapio-box1__titulo {
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 25px;
}

.cardapio-box1__titulo span{
    font-family: var(--font2);
    background-color: var(--color1);
    padding: 4px 8px;
    border-radius: 5px;
}

.cardapio-box1__text {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #1d0605a9;

}

.cardapio-box1__buttom {
    margin-top: 20px;
    background-color: var(--color3);
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
}

.cardapio__cardapio-box2 {
    background-color: #3B200B;
    width: 100%;
    min-height: 480px;
    margin-bottom: 40px;
    padding: 35px 30px;
}


.cardapio-box2__titulo {
    font-family: var(--font2);
    color: var(--color1);
    text-transform: uppercase;
    font-size: 25px;

}

#cardapio-box2__root-menu {
    margin:0 auto;
}
.root-menu__nome {
    color: white;
    font-size: 1.4em;
    font-family: var(--font2);
    text-transform: uppercase;
    margin-top: 10px;

}

.menu__descricao {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 500px;
}
/* --------------------------------------------------------------------------------------------------------- */

/* Atendimentos */

.atendimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atendimento__imgbox {
    position: relative;
    width: 300px;
    height: 340px;
    margin: 0 auto;
}

 .imgbox_img1 {
    position: absolute;
    width: 280px;
    height: 320px;
    z-index: 2;
}

.imgbox_img2 {
    position: absolute;
    width: 300px;
    left: -15px;
    top: 136px;
    z-index: 1;
}

.atendimento__boxconteudo {
    padding: 0px 18px;
    margin-bottom: 40px;
}



/* --------------------------------------------------------------------------------------------------------- */

 /* Nossas entregas */

 .nossas-entregas {
    display: flex;
    width: 90%;
    margin: 50px auto;
    padding: 50px 0px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    border-top: 1px solid rgba(29, 6, 5, 0.15);
    
 }

 .nossas-entregas__imgbox {
    position: relative;
    width: 300px;
    height: 340px;
    margin-bottom: 20px;
 }

 

 .imgbox_img3 {
    position: absolute;
    left: -40px;
    width: 280px;
    height: 320px;
    z-index: 2;
}

 .imgbox_img4 {
    position: absolute;
    width: 300px;
    left: -15px;
    top: 106px;
    z-index: 1;
}


.nossas-entregas__boxconteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nossas-entregas__boxconteudo h3 {
    margin: 0px 0px 20px;
}

.boxconteudo__box-entregas {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 10px;
    background: #FFFFFF;
    margin-bottom: 10px;
}
.boxconteudo__box-entregas:hover {
box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.377);
}

.box-entregas {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid rgba(29, 6, 5, 0.4);
}

.box-entregas__titulo {
    font-family: var(--font2);
    color: var(--color2);
    text-transform: uppercase;
    font-size: 16px;
}

.box-entregas__text {
    font-size: 14px;
    font-weight: 400;
    color: #1d0605a9;
}


 /* --------------------------------------------------------------------------------------------------------- */
/* Faça o seu pedido */

.faca-o-pedido {
    margin: 0 auto 40px;
    width: 90%;
    background-color: #F43127;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;
    
}

.faca-o-pedido__boximg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(29, 6, 5, 0.2);
    transform: scale(0.9);
    margin: 5px;
}

.faca-o-pedido__title {
    font-family: var(--font2);
    color: var(--color2);
    text-transform: uppercase;
    font-size: 16px;
    border-top: 1px solid rgba(29, 6, 5, 0.4);
    width: 95%;
    text-align: center;
    padding-top: 10px;
}

.faca-o-pedido__text {
    margin: 4px 0px 10px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;

}
.faca-o-pedido__text strong {
    font-weight: 900;
}


.faca-o-pedido__button {
    margin-bottom: 10px;
    background: #FAE4D0;
    font-weight: 700;
    color: #F43127;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    display: inline-block;
    width: 90%;
    text-align: center;
}
 /* --------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------- */



@media screen and (min-width:820px) {

/* Cardapio */


    .cardapio {
        display: flex;
        flex-direction: row;
    }

    .cardapio__cardapio-box1 {
        min-height: 480px;
        background: url(../img/medio/bg2cardapio.png) center center no-repeat;
        background-size: cover;
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
    }
    .cardapio-box1__container {
        width: 65%;
    }

    /* --------------------------------------------------------------------------------------------------------- */

    /* Atendimentos */

    .atendimento {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .atendimento__imgbox {
        position: relative;
        width: 300px;
        height: 340px;
        margin: 0px 20px;
    }

    .atendimento__boxconteudo {
        width: 420px;
        padding-top: 50px;
    }





 /* --------------------------------------------------------------------------------------------------------- */


 /* Nossas entregas */


 .nossas-entregas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 20px;
    margin-right: 100px;
    
 }



  /* --------------------------------------------------------------------------------------------------------- */

  /* Faça o seu pedido */

.faca-o-pedido {
    width: 80%;
    flex-direction: row;
     
}

.faca-o-pedido__box-conteudo {
    width: 70%;
    border-left: 1px solid rgba(29, 6, 5, 0.4);
    padding: 10px 15px;

}

.faca-o-pedido__title {
    border-top: none;
    text-align: left;
}

.faca-o-pedido__text {
    width: 80%;
    text-align: left;

}

.faca-o-pedido__button {
    width: 20%;
}
 /* --------------------------------------------------------------------------------------------------------- */
}
