@media screen and (min-width:820px) {

    .bdb {
        border: none;
    }


    /* Menu */

    #menu_navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    .navbar_links {
        padding: 0px 14px;
        width: 400px;

    }

    .navbar_links a {
        padding: 0px 8px;
        color: black;
        text-decoration: none;
    }

    .navbar_links a:nth-child(1) {
        font-weight: 900;
    }

    .navbar_links a:hover {
        color: #F59A1B;
    }

    .navbar_redes {
        border-right: 1px solid #B50B04;
        padding:  4px 12px;
        display: flex;
    }

    .navbar_redes img {
        width: 25px;
        margin: 0px 4px;
    }

    .header__button {
        display: none;
    }

    .header__boxfantasma {
        display: inline;
        border: none;
        background: none;
        font-size: 1.2em;
        margin-right: 18px;
        opacity: 0;
    }

    .navbar_whats {
        display: flex;
        text-decoration: none;
        background-color: #F59A1B;
        padding: 4px 16px;
        border-radius: 3px;
        margin-left: 20px;

    }

    .navbar_whats p {
        margin-left: 8px;
        color: black;

    }

    #menu_navbar-mobile {
        display: none;
    }

    /* ------------------------------------------------------------------------------------- */
    /* Banner hero */

    .banner-hero {
        background: url(../img/Bannerpc.png)  black center center no-repeat;
        background-size: cover;
        height: 556px;
        position: relative;
    }
    .banner-hero__container-banner-hero {
        min-width: 740px;
        height: 300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
}

    /* ------------------------------------------------------------------------------------- */
    /* informações sobre entrega e hamburguer */

    .contInformacoes {
        position: relative;
        width: 730px;
        height: 110px;
        flex-direction: row;
    }

    .contInformacoes__boxinfo {
        transform: scale(0.85);
    }
    .boxinfo__text {
        font-size: 14px;
    }

    /* ------------------------------------------------------------------------------------- */
    /* Ofertas especiais */ 
    .ofertas-especiais {
        width: 80%;
        font-size: 1em;
    }
    .ofertas-especiais__box-ofertas {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-rows: minmax(auto, 140px);

    }

    .box-ofertas__img1, .box-ofertas__img2, .box-ofertas__img3 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-size: cover;
        padding: 14px 20px;
        position: relative;
        z-index: 1;
    
    }

    .box-ofertas__img1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    } 
    .box-ofertas__img2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    } 
    .box-ofertas__img3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .ofertas-especiais__box-info {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .box-info__instagram {
        align-items: start;
        margin-left: 14px;
    }

    .instagram__text {
        margin-top: 0px;
        font-size: 16px;
    }
    
    .instagram__link {
        font-size: 28px;
    }

    
/* ------------------------------------------------------------------------------------- */
/* Onde fica o nosso castelo*/

.localizacao__frame {
    height: 180px;
}

/* ------------------------------------------------------------------------------------- */
/* footer */


.footer__redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid rgba(73, 46, 21, 0.15);
}

.redes__name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    width: 90%;
    padding: 4px 0px;
}

.redes__logo {
    padding: 4px 0px;
}

.redes__navbar {
    flex-direction: row;
    padding: 4px 0px;
}

.redes__navbar a {
    margin: 12px 8px;
    
}

.redes__navbar a:nth-child(1) {
    margin: 12px 8px;

}



}

@media screen and (min-width:1100px) { 

    /* ------------------------------------------------------------------------------------- */
    /* Banner hero */

    .banner-hero__container-banner-hero {
        margin-top: 20px;
        min-width: 980px;
    }

    /* ------------------------------------------------------------------------------------- */
    /* Ofertas especiais */ 

    .ofertas-especiais {
        font-size: 1.2em;
    }

    .ofertas-especiais__box-ofertas {
        grid-auto-rows: minmax(auto, 220px);

    }
}